In [3]:
import pandas as pd
import os
import  json
import numpy

In [4]:
input_file = "C:\\Users\\anura\\Desktop\\YIL_Data_related\\py_data_conv\\.venv\\output\\pledgeform_csv.csv"

In [5]:
pf_df = pd.read_csv(input_file)

In [6]:
pf_df.head()

,id,full_name,gender,email,phone,ethnicity,province,district,municipality,pladges,created_on,updated_on
0,460,Birendra kumar Chand,Male,birendrachand886@gmail.com,9.866222e+09,7,6,33,27,"[34, 39, 42, 20, 54, 25]",2023-08-12T12:18:33.970472+05:45,2023-08-12T12:18:33.970494+05:45
1,464,Shristy Dhakal,Female,dhakalshristy7@gmail.com,9.849592e+09,7,2,3,56,"[1, 5, 6, 9, 10, 11, 12, 15, 16, 18, 19, 25, 2...",2023-11-02T11:05:21.804217+05:45,2023-11-02T11:05:21.804244+05:45
2,465,Kirtan Pandit,Male,kirtanpandit@gmail.com,9.779810e+12,7,4,58,269,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-28T19:07:49.896999+05:45,2023-11-28T19:07:49.897026+05:45
3,469,Lani Tamang Ghising,Female,lanitamang111@gmail.com,9.847873e+09,2,1,47,513,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-29T16:54:52.428045+05:45,2023-11-29T16:54:52.428072+05:45
4,470,Durga Devi Adhikari,Female,durgaa778@gmail.com,9.867036e+09,7,2,12,45,"[2, 3, 4, 6, 7, 8, 9, 12, 15, 16, 17, 18, 19, ...",2023-11-30T11:58:44.081543+05:45,2023-11-30T11:58:44.081568+05:45

In [7]:
pf_df.dtypes

id                int64
full_name        object
gender           object
email            object
phone           float64
ethnicity         int64
province          int64
district          int64
municipality      int64
pladges          object
created_on       object
updated_on       object
dtype: object

In [10]:
pf_df.head(6)

,id,full_name,gender,email,phone,ethnicity,province,district,municipality,pladges,created_on,updated_on
0,460,Birendra kumar Chand,Male,birendrachand886@gmail.com,9.866222e+09,7,6,33,27,"[34, 39, 42, 20, 54, 25]",2023-08-12T12:18:33.970472+05:45,2023-08-12T12:18:33.970494+05:45
1,464,Shristy Dhakal,Female,dhakalshristy7@gmail.com,9.849592e+09,7,2,3,56,"[1, 5, 6, 9, 10, 11, 12, 15, 16, 18, 19, 25, 2...",2023-11-02T11:05:21.804217+05:45,2023-11-02T11:05:21.804244+05:45
2,465,Kirtan Pandit,Male,kirtanpandit@gmail.com,9.779810e+12,7,4,58,269,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-28T19:07:49.896999+05:45,2023-11-28T19:07:49.897026+05:45
3,469,Lani Tamang Ghising,Female,lanitamang111@gmail.com,9.847873e+09,2,1,47,513,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-29T16:54:52.428045+05:45,2023-11-29T16:54:52.428072+05:45
4,470,Durga Devi Adhikari,Female,durgaa778@gmail.com,9.867036e+09,7,2,12,45,"[2, 3, 4, 6, 7, 8, 9, 12, 15, 16, 17, 18, 19, ...",2023-11-30T11:58:44.081543+05:45,2023-11-30T11:58:44.081568+05:45
5,472,suraj,Male,surajj@gmail.com,3.232323e+09,1,1,51,108,"[40, 44, 12, 19, 26, 30]",2023-12-21T16:59:48.675481+05:45,2023-12-21T16:59:48.675503+05:45

In [11]:
pf_df.tail(5)

,id,full_name,gender,email,phone,ethnicity,province,district,municipality,pladges,created_on,updated_on
203,620,Aryashree Chand,Female,jpchand007@gmail.com,9.814097e+09,7,7,70,616,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 16, 17, 18, 20...",2024-10-21T10:46:03.472456+05:45,2024-10-21T10:46:03.472474+05:45
204,621,priyanshu shrestha,Female,shresthapriyanshu4@gmail.com,9.813670e+09,7,1,51,207,"[1, 34, 36, 39, 44, 17, 18, 20, 53, 21, 23, 24...",2024-11-18T14:30:12.884082+05:45,2024-11-18T14:30:12.884104+05:45
205,622,Bandana bhatta,Female,bhumibhatta986@gmail.com,9.868550e+09,7,1,50,702,"[40, 45, 17, 52, 25, 28]",2024-11-21T17:27:42.840270+05:45,2024-11-21T17:27:42.840293+05:45
206,623,Bipin Khanal,Male,khanalbipin006@gmail.com,9.867895e+09,7,1,18,206,"[4, 5, 6, 7, 9, 11, 15, 16, 18, 20, 21, 23, 24...",2024-11-21T20:24:32.294192+05:45,2024-11-21T20:24:32.294214+05:45
207,624,Bijaya Raj Joshi,Male,bijayaraj2060@gmail.com,9.865818e+09,7,7,72,450,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2024-11-22T20:08:18.527582+05:45,2024-11-22T20:08:18.527601+05:45

In [14]:
pf_df.index
pf_df.columns

Index(['id', 'full_name', 'gender', 'email', 'phone', 'ethnicity', 'province',
       'district', 'municipality', 'pladges', 'created_on', 'updated_on'],
      dtype='object')

In [18]:
pf_array = pf_df.to_numpy()

In [19]:
pf_array

array([[460, 'Birendra kumar Chand', 'Male', ...,
        '[34, 39, 42, 20, 54, 25]', '2023-08-12T12:18:33.970472+05:45',
        '2023-08-12T12:18:33.970494+05:45'],
       [464, 'Shristy Dhakal', 'Female', ...,
        '[1, 5, 6, 9, 10, 11, 12, 15, 16, 18, 19, 25, 27, 28, 29, 34, 35, 36, 37, 38, 39, 41, 45, 46, 48, 50, 52, 53, 54, 55]',
        '2023-11-02T11:05:21.804217+05:45',
        '2023-11-02T11:05:21.804244+05:45'],
       [465, 'Kirtan Pandit', 'Male', ...,
        '[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]',
        '2023-11-28T19:07:49.896999+05:45',
        '2023-11-28T19:07:49.897026+05:45'],
       ...,
       [622, 'Bandana bhatta', 'Female', ..., '[40, 45, 17, 52, 25, 28]',
        '2024-11-21T17:27:42.840270+05:45',
        '2024-11-21T17:27:42.840293+05:45'],
       [623, 'Bipin Khanal', 'Male', ...,
        '[4, 5, 6, 7, 9, 11, 15, 16, 18, 20, 21, 23, 24, 25, 26, 27, 28, 29, 32, 34, 35, 36, 37, 39, 40, 43, 45, 46, 48, 49, 52, 53, 55, 57]',
        '2024-11-21T20:24:32.294192+05:45',
        '2024-11-21T20:24:32.294214+05:45'],
       [624, 'Bijaya Raj Joshi', 'Male', ...,
        '[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]',
        '2024-11-22T20:08:18.527582+05:45',
        '2024-11-22T20:08:18.527601+05:45']], dtype=object)

In [ ]:
pf_df.describe()

,id,phone,ethnicity,province,district,municipality
count,208.000000,2.080000e+02,208.000000,208.000000,208.000000,208.000000
mean,475.730769,1.985223e+11,5.110577,2.230769,40.024038,433.932692
std,144.882543,1.344932e+12,2.400138,1.837509,17.589094,253.701630
min,11.000000,9.800000e+01,1.000000,1.000000,1.000000,3.000000
25%,468.750000,9.810941e+09,2.000000,1.000000,25.000000,204.250000
50%,520.500000,9.843433e+09,7.000000,1.000000,50.000000,484.000000
75%,572.250000,9.854422e+09,7.000000,3.000000,50.000000,701.000000
max,624.000000,9.779850e+12,7.000000,7.000000,77.000000,754.000000

In [33]:
df2 = pf_df.copy()

In [34]:
df2

,id,full_name,gender,email,phone,ethnicity,province,district,municipality,pladges,created_on,updated_on
0,460,Birendra kumar Chand,Male,birendrachand886@gmail.com,9.866222e+09,7,6,33,27,"[34, 39, 42, 20, 54, 25]",2023-08-12T12:18:33.970472+05:45,2023-08-12T12:18:33.970494+05:45
1,464,Shristy Dhakal,Female,dhakalshristy7@gmail.com,9.849592e+09,7,2,3,56,"[1, 5, 6, 9, 10, 11, 12, 15, 16, 18, 19, 25, 2...",2023-11-02T11:05:21.804217+05:45,2023-11-02T11:05:21.804244+05:45
2,465,Kirtan Pandit,Male,kirtanpandit@gmail.com,9.779810e+12,7,4,58,269,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-28T19:07:49.896999+05:45,2023-11-28T19:07:49.897026+05:45
3,469,Lani Tamang Ghising,Female,lanitamang111@gmail.com,9.847873e+09,2,1,47,513,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-29T16:54:52.428045+05:45,2023-11-29T16:54:52.428072+05:45
4,470,Durga Devi Adhikari,Female,durgaa778@gmail.com,9.867036e+09,7,2,12,45,"[2, 3, 4, 6, 7, 8, 9, 12, 15, 16, 17, 18, 19, ...",2023-11-30T11:58:44.081543+05:45,2023-11-30T11:58:44.081568+05:45
...,...,...,...,...,...,...,...,...,...,...,...,...
203,620,Aryashree Chand,Female,jpchand007@gmail.com,9.814097e+09,7,7,70,616,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 16, 17, 18, 20...",2024-10-21T10:46:03.472456+05:45,2024-10-21T10:46:03.472474+05:45
204,621,priyanshu shrestha,Female,shresthapriyanshu4@gmail.com,9.813670e+09,7,1,51,207,"[1, 34, 36, 39, 44, 17, 18, 20, 53, 21, 23, 24...",2024-11-18T14:30:12.884082+05:45,2024-11-18T14:30:12.884104+05:45
205,622,Bandana bhatta,Female,bhumibhatta986@gmail.com,9.868550e+09,7,1,50,702,"[40, 45, 17, 52, 25, 28]",2024-11-21T17:27:42.840270+05:45,2024-11-21T17:27:42.840293+05:45
206,623,Bipin Khanal,Male,khanalbipin006@gmail.com,9.867895e+09,7,1,18,206,"[4, 5, 6, 7, 9, 11, 15, 16, 18, 20, 21, 23, 24...",2024-11-21T20:24:32.294192+05:45,2024-11-21T20:24:32.294214+05:45
207,624,Bijaya Raj Joshi,Male,bijayaraj2060@gmail.com,9.865818e+09,7,7,72,450,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2024-11-22T20:08:18.527582+05:45,2024-11-22T20:08:18.527601+05:45

In [36]:
df2.sort_values(by="province")

,id,full_name,gender,email,phone,ethnicity,province,district,municipality,pladges,created_on,updated_on
3,469,Lani Tamang Ghising,Female,lanitamang111@gmail.com,9.847873e+09,2,1,47,513,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2023-11-29T16:54:52.428045+05:45,2023-11-29T16:54:52.428072+05:45
7,11,Ganga Shrestha,Male,gangashrestha@gmail.com,9.844043e+09,2,1,47,100,"[3, 4, 5, 8, 9, 10, 11]",2022-09-15T10:00:32.993067+05:45,2022-09-15T10:00:32.993099+05:45
6,473,Aayush Dongol,Male,fds@gm.com,1.234568e+09,1,1,51,108,"[32, 37, 45, 15, 53, 23]",2023-12-21T17:10:31.804748+05:45,2023-12-21T17:10:31.804768+05:45
5,472,suraj,Male,surajj@gmail.com,3.232323e+09,1,1,51,108,"[40, 44, 12, 19, 26, 30]",2023-12-21T16:59:48.675481+05:45,2023-12-21T16:59:48.675503+05:45
12,479,Binaya Poudel,Female,Binayapoudel54@gmail.com,9.863455e+09,7,1,50,702,"[3, 5, 6, 11, 15, 18, 20, 21, 22, 23, 25, 26, ...",2024-01-10T16:16:52.498259+05:45,2024-01-10T16:16:52.498281+05:45
...,...,...,...,...,...,...,...,...,...,...,...,...
198,615,Neelam Dhanushe,Female,neelamdhansuhe@gmail.com,9.851192e+09,7,7,70,616,"[1, 3, 38, 49, 17, 51, 22, 24, 25, 29, 31]",2024-09-17T09:50:56.494243+05:45,2024-09-17T09:50:56.494261+05:45
203,620,Aryashree Chand,Female,jpchand007@gmail.com,9.814097e+09,7,7,70,616,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 16, 17, 18, 20...",2024-10-21T10:46:03.472456+05:45,2024-10-21T10:46:03.472474+05:45
201,618,Parbat Kathayat,Male,parbatkathayat2@gmail.com,9.804618e+09,7,7,70,528,"[7, 8, 9, 15, 16, 18, 19, 22, 23, 24, 25, 26, ...",2024-09-28T21:25:58.683970+05:45,2024-09-28T21:25:58.683987+05:45
200,617,Mahesh khati,Male,maheshkhati245@email.come,9.748890e+09,7,7,36,32,"[34, 5, 40, 54, 23, 22]",2024-09-17T20:24:13.176793+05:45,2024-09-17T20:24:13.176813+05:45
207,624,Bijaya Raj Joshi,Male,bijayaraj2060@gmail.com,9.865818e+09,7,7,72,450,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...",2024-11-22T20:08:18.527582+05:45,2024-11-22T20:08:18.527601+05:45

In [37]:
df2.municipality

0       27
1       56
2      269
3      513
4       45
      ...
203    616
204    207
205    702
206    206
207    450
Name: municipality, Length: 208, dtype: int64

In [59]:
df2.loc[:,["district", 'province', 'pladges']]

     district  province                                            pladges
0          33         6                           [34, 39, 42, 20, 54, 25]
1           3         2  [1, 5, 6, 9, 10, 11, 12, 15, 16, 18, 19, 25, 2...
2          58         4  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...
3          47         1  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...
4          12         2  [2, 3, 4, 6, 7, 8, 9, 12, 15, 16, 17, 18, 19, ...
..        ...       ...                                                ...
203        70         7  [1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 16, 17, 18, 20...
204        51         1  [1, 34, 36, 39, 44, 17, 18, 20, 53, 21, 23, 24...
205        50         1                           [40, 45, 17, 52, 25, 28]
206        18         1  [4, 5, 6, 7, 9, 11, 15, 16, 18, 20, 21, 23, 24...
207        72         7  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16...

[208 rows x 3 columns]

#Note: pledges are numbered from 1-57 but 13 and 14 are missing

In [64]:
counts_provinces = df2['province'].value_counts()
print(counts_provinces)

province
1    124
3     21
2     18
4     14
5     11
6     10
7     10
Name: count, dtype: int64

#Make a chart using provinces vs total pledge counts.

In [66]:
province_names = {
    1: 'Bagmati',
    2: 'Koshi',
    3: 'Madhesh',
    4: 'Gandaki',
    5: 'Lumbini',
    6: 'Karnali',
    7: 'Sudurpaschim'
}
counts_provinces['province_name'] =counts_provinces.index.map(province_names)

print(counts_provinces)

province
1                                                              124
3                                                               21
2                                                               18
4                                                               14
5                                                               11
6                                                               10
7                                                               10
province_name    Index([     'Bagmati',      'Madhesh',        ...
Name: count, dtype: object